# Pocket judge
type pocket_judge_sysfs, fs_type, sysfs_type;
type fuseblk, sdcard_type, fs_type, mlstrustedobject;
type exfat, sdcard_type, fs_type, mlstrustedobject;
type ntfs, sdcard_type, fs_type, mlstrustedobject;
